
.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
}

.navbar-toggler-icon{
    color: #fff;
}

.nav-item:hover{
    background-color: #be2f2f;
}

.dropdown-item:hover{
    background-color: #be2f2f;
}

.dropdown-menu > li > hr{
    border-top: 1px solid #d47e7e;
}

img{
    filter: drop-shadow(0 8px 8px rgba(0,0,0,.5));
}

.sale{
    transform: rotate(-90deg);
    transition: .5s;
}

.tranding__card:hover .sale{
    transform: scale(1.25) rotate(-90deg);
}

.know__more-img{
    filter: none;
}
